<div class = "d-flex justify-content-between">
  <h4 class = "gray field m-3">マイページ</h4>
</div>
<div>
  <table>
      <tbody>
        <tr>
          <td><strong>登録情報</strong></td>
          <td></td>
          <td><%= link_to "編集する", edit_information_customers_path, class:"btn btn-success" %></td>
        <tr>
    </tbody>
  </table>
</div>
<div class = "field my-2">
  <table class = "table table-bordered" >
    <tbody>
      <tr>
        <th class="table-secondary">氏名</th>
        <td><%= @customer.name_blank %></td>
      </tr>
      <tr>
        <th class="table-secondary">カナ</th>
        <td><%= @customer.name_kana_blank %></td>
      </tr>
      <tr>
        <th class="table-secondary">郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th class="table-secondary">住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th class="table-secondary">電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th class="table-secondary">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class = "field my-2">
  <table>
      <tbody>
        <tr>
          <td><strong>配送先</strong></td>
          <td></td>
          <td><%= link_to "一覧を見る", addresses_path, class:"btn btn-primary" %></td>
        <tr>
    </tbody>
  </table>
</div>
<div class = "field my-2">
  <table>
      <tbody>
        <tr>
          <td><strong>注文履歴</strong></td>
          <td></td>
          <td><%= link_to "一覧を見る", orders_path, class:"btn btn-primary" %></td>
        <tr>
    </tbody>
  </table>
</div>