<h2>商品一覧</h2>

<diV>
  <table>
    <thead>
      <tr>
        <td>商品ID</td>
        <td>商品名</td>
        <td>税抜価格</td>
        <td>ジャンル</td>
        <td>ステータス</td>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td>
          <%= link_to admin_item_path(f.id) do %>
            <%= f.name %>
          <% end %>
        </td>
        <td><%= f.get_price_delimited %></td>
        <td><%= f.genre.name %></td>
        <% if f.is_active %>
          <td class = "is_active_true">販売中</td>
        <% else %>
          <td class = "is_active_false">販売停止中</td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</diV>