<div class = "d-flex justify-content-between">
  <h4 class = "gray field m-3">商品詳細</h4>
</div>

<div class = "row">
  <div class = "items_image">
    <%= image_tag @item.get_image(250,250) %>
  </div>
  <div class = "items_area offset-1">
    <table>
      <tbody>
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>
            税込価格<br>
            (税抜価格)
          </td>
          <td><%= @item.get_tax_included_price_delimited %> (<%= @item.get_price_delimited %>) 円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <% if @item.is_active %>
            <td class = "text-success"><p class="font-weight-bold">販売中</p></td>
          <% else %>
             <td class = "text-secondary"><p class="font-weight-bold">販売停止中</p></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <div class = "d-flex justify-content-center">
      <%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success" %>
    </div>
  </div>
</div>