<div class="container takasa">
  <div class="row">
    <!-- ジャンル検索サイドバー / パーシャル表示 -->
  	<%= render 'public/items/genres_sidebar', genres: @genres %>

    <div class="col-xs-9">
      <!-- 画像背景 -->
  		<div class="bg_top">
        <!-- 白背景/サイト説明文 -->
  			<div class="bg_top2">
  			  <p class="font-text">
  			  	ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
  			</div>
  		</div>
      <!-- オススメ商品表示 -->
      <br>
  		<h4 class="recommendation">新着商品</i></h4><br>
  		<div class="row">


        <div id="multiple-items">
        <% @items.each do |f| %>
          <div class="recommendation-items">
            <%= link_to item_path(f.id) do %>
              <%= image_tag f.get_image(100,100) %><br>
            <% end %>
            <p><%= f.name %></p>
            <p>￥<%= f.get_tax_included_price_delimited %></p>
          </div>
        <% end %>
　　　　　</div>
        </div>
      </div>
  	</div>

  	<div class="row">
  	  <div class="col-xs-9"></div>
  	  <div class="col-xs-2">
  	    <p><%= link_to "すべての商品を見る＞", items_path %></p>
  	  </div>
    </div>

  </div>



