<div class = "d-flex justify-content-between m-3">
  <h4 class = "gray">注文履歴詳細</h4>
</div>
<div>
  <table class = "table">
    <tboby>
      <tr>
        <td><strong>購入者</strong></td>
        <td><%= @order.customer.name_half_blank %></td>
      </tr>
      <tr>
        <td><strong>注文日</strong></td>
        <td><%= @order.get_admin_order_date %></td>
      </tr>
      <tr>
        <td><strong>配送先</strong></td>
        <td>
          <%= @order.get_address_display_admin %><br>
          <%= @order.name %><br>
        </td>
      </tr>
      <tr>
        <td><strong>支払方法</strong></td>
        <td>
          <%= Order.payment_methods_i18n[@order.payment_method]  %>
        </td>
      </tr>
      <tr>
        <td><strong>注文ステータス</strong></td>
        <td>
          <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
             <%= f.select :order_status, Order.order_statuses_i18n.invert %>
             <%= f.submit '更新', class:"btn btn-success" %>
          <% end %>
        </td>
      </tr>
    </tboby>
  </table>
</div>

<div class = "row mt-4">
  <div>
    <table class = "table table-hover" >
      <thead class = "table-secondary">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.each do |g| %>
        <tr>
          <td><%= g.item.name %></td>
          <td><%= g.price.to_s(:delimited) %></td>
          <td><%= g.amount %></td>
          <td><%= g.get_subtotal_delimited %></td>
          <%= form_with model: g, url: admin_order_order_detail_path(@order,g.id), method: :patch do |form| %>
          <td><%= form.select :making_status, OrderDetail.making_statuses_i18n.invert %></td>
          <td><%= form.submit '更新', class:"btn btn-success" %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class ="offset-1 d-flex align-items-end">
    <table>
      <tboby>
        <tr>
          <td><strong>商品合計</strong></td>
          <td><%= @order.get_product_total %></td>
        </tr>
        <tr>
          <td><strong>送料</strong></td>
          <td><%= @order.get_postage %></td>
        </tr>
        <tr>
          <td><strong>請求合計金額</strong></td>
          <td>
            <strong><%= @order.get_total_payment %></strong>
          </td>
        </tr>
      </tboby>
    </table>
  </div>
</div>
