<h2>注文履歴詳細</h2>

<diV>
  <table>
    <tboby>
      <tr>
        <td><n3>購入者</n3></td>
        <td><%= @order.customer.name_half_blank %></td>
      </tr>
      <tr>
        <td><n3>注文日</n3></td>
        <td><%= @order.get_admin_order_date %></td>
      </tr>
      <tr>
        <td><n3>配送先</n3></td>
        <td>
          <%= @order.address.get_address_display_admin %><br>
          <%= @order.customer.address.name %><br>
        </td>
      </tr>
      <tr>
        <td><n3>支払方法</n3></td>
        <td>
          <%= Order.payment_methods_i18n[@order.payment_method]  %>
        </td>
      </tr>
      <tr>
        <td><n3>注文ステータス</n3></td>
        <td>
          <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
            <%= f.select :payment_method, options_from_collection_for_select(Order.payment_methods, Order.payment_methods_value, Order.payment_methods_i18n)  %>　<%= f.submit '編集' %>
          <% end %>
        </td>
      </tr>
    </tboby>
  </table>
</diV>
