<div class = "d-flex justify-content-between m-3">
  <h4 class = "gray">ジャンル編集</h4>
</div>

<%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
<% if @genre.errors.any? %>
<div id="error_explanation">
  <h3><%= @genre.errors.count %> 個のエラーが発生しました。</h3>
  <ul>
  <% @genre.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div>
  <table>
    <tbody>
      <tr>
        <td>ジャンル一覧</td>
        <td><%= f.text_field :name, :placeholder => "ジャンル名" %></td>
        <td><%= f.submit '変更を保存', class:"btn btn-success" %></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>