<div class = "d-flex justify-content-between m-3">
  <h4 class = "gray">ジャンル一覧・追加</h4>
</div>

<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
<% if @genre.errors.any? %>
<div id="error_explanation">
  <h3><%= @genre.errors.count %> 個のエラーが発生しました。</h3>
  <ul>
  <% @genre.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div>
  <table>
    <tbody>
      <tr>
        <td>ジャンル一覧</td>
        <td><%= f.text_field :name, :placeholder => "ジャンル名" %></td>
        <td><%= f.submit '新規登録', class:"btn btn-success" %></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
<div class = "row mt-4">
  <div>
    <table class = "table" >
      <thead class = "table-secondary">
        <tr>
          <th colspan = "2">ジャンル</th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |g| %>
        <tr>
          <td><%= g.name %></td>
          <td><%= link_to '編集する', edit_admin_genre_path(g.id), class:"btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>