<div class = "d-flex justify-content-between m-3">
  <h4 class = "gray">注文履歴一覧</h4>
</div>

<diV>
  <table class = "table  col-xs-8" >
    <thead class = "table-secondary">
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |f| %>
      <tr>
        <td>
          <%= link_to admin_order_path(f.id) do %>
            <%= f.get_purchase_date %>
          <% end %>
        </td>
        <td><%= f.customer.name %></td>
          <% count = 0 %>
          <% f.order_details.each do |g| %>
            <% count += g.amount %>
          <% end %>
        <td><%= count %></td>
        <td><%= Order.order_statuses_i18n[f.order_status] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</diV>

<%= paginate @orders %>