<h2>注文履歴一覧</h2>

<diV>
  <table>
    <thead>
      <tr>
        <td>購入日時</td>
        <td>購入者</td>
        <td>注文個数</td>
        <td>注文ステータス</td>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |f| %>
      <tr>
        <td>
          <%= link_to admin_order_path(f.id) do %>
            <%= f.get_purchase_date %>
          <% end %>
        </td>
        <td><%= f.customer.name %></td>
          <% count = 0 %>
          <% f.order_details.each do |g| %>
            <% count += g.amount %>
          <% end %>
        <td><%= count %></td>
        <td><%= Order.order_statuses_i18n[f.order_status] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</diV>