<h2>注文情報確認</h2>
<%= form_with model: @order, url: orders_path,  method: :post do |f| %>
<div>
  <table>
    <thead>
      <tr>
        <td>商品名</td>
        <td>単価（税込）</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
    </thead>
    <tbody>
      <% current_customer.cart_items.each do |f| %>
      <% @total += f.get_subtotal %>
      <tr>
        <td><%= image_tag f.item.get_image(50,50) %> <%= f.item.name %></td>
        <td><%= f.item.get_tax_included_price_delimited %></td>
        <td><%= f.amount %></td>
        <td><%= f.get_subtotal_delimited %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table border="1" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td>送料</td>
        <td><%= @postage.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @total.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <td><%= (@postage + @total).to_s(:delimited) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h3>支払方法</h3>
  <div>
    <%= f.label :payment_method, Order.payment_methods_i18n[@order.payment_method] %>
  </div>
</div>
<div>
  <h3>お届け先</h3>
  <div>
    〒<%= @order.postal_code %> <%= @order.address %><br>
    <%= @order.name %>
  </div>
</div>
<div>
  <div>
    <%= f.submit '注文を確定する', class:"btn btn-primary" %>
  </div>
</div>
 <%= f.hidden_field :payment_method, :value => @order.payment_method %>
 <%= f.hidden_field :postal_code, :value => @order.postal_code %>
 <%= f.hidden_field :address, :value => @order.address %>
 <%= f.hidden_field :name, :value => @order.name %>
 <%= f.hidden_field :postage, :value => @postage %>
 <%= f.hidden_field :total_payment, :value => @postage + @total %>
<% end %>