<div class = "d-flex justify-content-between">
  <h4 class = "gray field m-3">注文情報入力</h4>
</div>

<%= form_with model: @order, url: confirm_path,  method: :post do |f| %>

<% if @order.errors.any? %>
  <div id="error_explanation">
    <h3><%= @order.errors.count %> 個のエラーが発生しました。</h3>
    <ul>
    <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
  <div>
<% end %>

<div>
  <p><strong>支払方法</strong></p>
  <div class = "field m-3">
    <div>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0), {:checked => true}  %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    </div>
    <diV>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
    </diV>
  </diV>
</div>

<div>
  <p><strong>お届け先</strong><p>
  <div class = "field m-3">
    <div>
      <%= f.radio_button :select_address, 0 , {:checked => true} %>
      <%= f.label :select_address_my_address, "ご自身の住所" %><br>
      <%= current_customer.get_my_address %><br>
      <%= current_customer.name %>
    </div>
  </div>
  <div class = "field m-3">
    <div>
      <%= f.radio_button :select_address, 1  %>
      <%= f.label :select_address_addresses, "登録済住所から選択" %><br>
      <%= f.select :address_id, options_from_collection_for_select(Address.where(customer_id: current_customer.id), :id, :get_address_display) %></%>
    </div>
  </div>
   <div class = "field m-3">
    <%= f.radio_button :select_address, 2  %>
    <%= f.label :address_new_addresses, "新しいお届け先" %>
    <table>
      <tbody>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code, :placeholder => "0000000", maxlength: 7  %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, :placeholder => "東京都渋谷区神園町0-0" %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, :placeholder => "令和道子" %></td>
        </tr>
      </tbody>
    </table>
  </diV>
</div>
<div class = "d-flex justify-content-center">
  <%= f.submit '確認画面へ進む', class:"btn btn-primary" %>
</div>

<% end %>