<h2>注文履歴詳細</h2>

<div>
  <div>
    <h3>注文情報</h3>
  </div>
  <table>
    <tbody>
      <tr>
        <td>注文日</td>
        <td><%= @order.get_order_date %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td>
          <%= @order.postal_code %><br>
          <%= @order.address %><br>
          <%= @order.name %><br>
        </td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td><%= Order.order_statuses_i18n[@order.order_status] %></td>
      </tr>
    </tbody>
  </table>
  <div>
    <h3>請求情報</h3>
  </div>
  <table>
    <tbody>
      <tr>
        <td>商品合計</td>
        <td><%= @order.get_product_total %></td>
      </tr>
      <tr>
        <td>配送料</td>
        <td><%= @order.get_postage %></td>
      </tr>
      <tr>
        <td>ご請求額</td>
        <td><%= @order.get_total_payment %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <div>
    <h3>注文内容</h3>
  </div>
    <table>
    <thead>
      <tr>
        <td>商品名</td>
        <td>単価（税込）</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
    </thead>
    <tbody>
      <% @order.order_details.each do |f| %>
      <tr>
        <td><%= f.item.name %></td>
        <td><%= f.price %></td>
        <td><%= f.amount %></td>
        <td><%= f.get_subtotal %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>